@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f9f9f9;
}

nav {
    background-color: #003566;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 9999;
}

nav > .nav-container {
    width: 80%;
    height: 100%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav > .nav-container > .logo > h3 > a {
    font-size: 16px;
    color: #e2e1e1;
    font-weight: 600;
    text-decoration: none;
}

nav > .nav-container > .menu {
    height: 100%;
    /* border: 1px solid #fff; */
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

nav > .nav-container > .hamburger-container {
    width: 25px;
    height: 22px;
    /* border: 1px solid #fff; */
    display: none;
    flex-direction: column;
    justify-content: space-between;
}

nav > .nav-container > .hamburger-container > span {
    display: block;
    width: 100%;
    height: 3px;
    background-color: #e2e1e1;
}

nav > .nav-container > .hamburger-container:hover > span {
    background-color: #fff;
}

nav > .nav-container > .menu > .list-menu:nth-child(3) {
    /* border: 1px solid #fff; */
    height: 60%;
    display: flex;
    align-items: center;
    display: flex;
    /* gap: 10px; */
    border-radius: 3px;
    overflow: hidden;
}

nav > .nav-container > .menu > .list-menu:nth-child(3) > .search {
    outline: none;
    height: 100%;
    background-color: #fff;
    border: none;
    padding: 10px;
}

nav > .nav-container > .menu > .list-menu:nth-child(3) > .btn-search {
    width: 30px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    border-left: .1px solid rgb(224, 224, 224);
    background-color: rgb(244, 241, 241);
    cursor: pointer;
}

nav > .nav-container > .menu > .list-menu:nth-child(3) > .btn-search:hover {
    background-color: rgb(228, 226, 226);
}

nav > .nav-container > .menu > .list-menu > a {
    color: #e2e1e1;
    font-size: 14px;
    text-decoration: none;
    font-weight: 500;
}

nav > .nav-container > .logo > h3 > a:hover,
nav > .nav-container > .menu > .list-menu > a:hover {
    color: #fff;
}

.container-menu {
    position: fixed;
    z-index: 999;
    left: 0;
    right: 0;
    top: -100vh;
    background-color: #003566;
    transition: 1s;
    display: none;
    justify-content: center;
    /* border-top: .1px solid #f1f1f1;
    border-bottom: .1px solid #f1f1f1; */
}

.container-menu.active {
    top: 50px;
}

.container-menu > .menu-mobile {
    width: 90%;
    /* height: 100px; */
    /* border: 1px solid #fff; */
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px 0;
    justify-content: space-around;
}

.container-menu > .menu-mobile > .list-menu > a {
    display: block;
    color: #e2e1e1;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
}

.container-menu > .menu-mobile > .list-menu:nth-child(3) {
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: space-between;
    border-radius: 3px;
    overflow: hidden;
}

.container-menu > .menu-mobile > .list-menu:nth-child(3) > .search {
    width: 90%;
    height: 100%;
    border: none;
    outline: none;
    padding: 10px;
}

.container-menu > .menu-mobile > .list-menu:nth-child(3) > .btn-search {
    width: 10%;
    height: 100%;
    border: none;
    border-left: .1px solid rgb(224, 224, 224);
    background-color: rgb(244, 241, 241);
    cursor: pointer;
}

.container-menu > .menu-mobile > .list-menu:nth-child(3) > .btn-search:hover {
    background-color: rgb(228, 226, 226);
}

.container-menu > .menu-mobile > .list-menu > a:hover {
    color: #fff;
}

/* contents */
/* jumbotron */
.jumbotron {
    width: 100%;
    min-height: 400px;
    background-color: #003566;
    display: flex;
    margin: 50px auto 10px;
    /* border: 1px solid #333; */
    padding: 10px 0;
    justify-content: center;
}

.jumbotron > .container {
    width: 80%;
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    gap: 10px;
}

.jumbotron > .container > .box:nth-child(2) {
    width: 650px;
    min-height: 20px;
    /* border: 1px solid #fff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px 20px;
}

.jumbotron > .container > .box:nth-child(2) > .item {
    display: flex;
    gap: 10px;
    /* border: 1px solid #fff; */
    align-items: center;
    color: #fff;
}

.jumbotron > .container > .box:nth-child(2) > .item > h4 {
    font-size: 35px;
    font-weight: 500;
}
.jumbotron > .container > .box:nth-child(2) > .item .fa-box-open {
    font-size: 35px;
    font-weight: 600;
}

.jumbotron > .container > .box:nth-child(2) > p {
    color: #f9f9f9;
    text-align: center;
}

.jumbotron > .container > .box:nth-child(2) > p > span {
    color: #ffc300;
}

.jumbotron > .container > .box:nth-child(2) > .btn-choice {
    height: 40px;
    min-width: 70px;
    padding: 5px 17px;
    background-color: #ffc300;
    border: 1px solid #ffc300;
    color: #f9f9f9;
    font-size: 14px;
    cursor: pointer;
}

.jumbotron > .container > .box:nth-child(2) > .btn-choice:hover {
    background-color: #f5bc02;
}


.jumbotron > .container > .box:nth-child(1),
.jumbotron > .container > .box:nth-child(3) {
    max-width: 200px;
    /* height: 100%; */
    /* border: 1px solid #fff; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.jumbotron > .container > .box:nth-child(1) {
    display: none;
}

.jumbotron > .container > .box:nth-child(1) > img,
.jumbotron > .container > .box:nth-child(3) > img {
    width: 80%;
}

.contents {
    width: 80%;
    /* min-height: 600px; */
    margin: 0 auto 10px;
    background-color: rgb(252, 250, 250);
    border-radius: 2px;
    overflow: hidden;
    /* box-shadow: 0 .1px 1px 0 rgba(88, 88, 88, 0.4); */
    border: .1px solid rgb(233, 231, 231);
    /* border: 1px solid #333; */
    display: grid;
    grid-template-columns: repeat(4, 180px);
    grid-template-rows: min-content;
    grid-auto-rows: min-content;
    grid-auto-flow: row;
    justify-content: center;
    gap: 10px;
    padding: 10px;
}

.contents > .card {
    /* border: 1px solid #333; */
    border-radius: 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    /* background-color: salmon; */
    transition: .5s;
    position: relative;
    justify-content: center;
    align-items: flex-end;
}

.contents > .card > .box-nail {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #003566;
    background-color: #003566;
    position: absolute;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents > .card > .box-nail > .fa-pencil {
    color: #fff;
}

.contents > .card > .image {
    display: flex;
    width: 100%;
}

.contents > .card > .image > img {
    width: 100%;
}

.contents > .card > .desc {
    width: 100%;
    height: 150px;
    background-color: rgb(249, 249, 249);
    border: .1px solid rgb(233, 231, 231);
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.contents > .card > .desc > .top {
    width: 100%;
    height: 75%;
    border-bottom: .1px solid rgb(233, 231, 231);
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    color: #333;
}

.contents > .card > .desc > .bottom {
    width: 100%;
    height: 25%;
    background-color: rgb(245, 245, 245);
    display: flex;
    cursor: pointer;
}

.contents > .card > .desc > .bottom:hover {
    background-color: rgb(242, 242, 242);
}

.contents > .card > .desc > .bottom > .left {
    width: 70%;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 10px;
    color: #333;
}

.contents > .card > .desc > .bottom > .left > h5 {
    font-size: 12px;    
}

.contents > .card > .desc > .bottom > .right {
    width: 30%;
    height: 100%;
    /* border: 1px solid blue; */
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 10px;
    color: rgb(154, 154, 154);
    font-size: 11px;
}

.contents > .card > .desc > .bottom > .right > .box {
    width: 20px;
    height: 20px;
    border: 1px solid rgb(154, 153, 153);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contents > .card > .desc > .bottom > .right > .box > .fa-greater-than {
    font-size: 9px;
    color: rgb(154, 153, 153);
    font-weight: lighter;
}

.contents > .card > .desc > .top > p {
    font-size: 12px;
}

/* detail */
.candidate-pair-details {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 99999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .2s;
    /* border: 1px solid #000; */
}

.candidate-pair-details.active {
    transform: scale(1);
    transition-delay: .5s;
}

.candidate-pair-details > .contents-detail {
    width: 600px;
    /* height: 90%; */
    /* border-radius: 3px; */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    border: 1px solid rgb(227, 226, 226);
    border-top: none;
}

.candidate-pair-details > .contents-detail > .top {
    width: 100%;
    height: 40px;
    border-bottom: 1px solid rgb(227, 226, 226);
    display: flex;
    justify-content: right;
    align-items: center;
    /* border: 1px solid #000; */
}

.candidate-pair-details > .contents-detail > .top > .close-container {
    width: 40px;
    height: 100%;
    /* border: 1px solid blue; */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.candidate-pair-details > .contents-detail > .top > .close-container > span {
    width: 40%;
    height: 2px;
    background-color: #a8bbbf;
    border-radius: 2px;
}

.candidate-pair-details > .contents-detail > .top > .close-container > span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.candidate-pair-details > .contents-detail > .top > .close-container > span:nth-child(2) {
    transform: rotate(-45deg);
}


.candidate-pair-details > .contents-detail > .bottom {
    flex: 1;
    /* border: 1px solid #146eff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
}

.candidate-pair-details > .contents-detail > .bottom > .person {
    width: 130px;
    display: flex;
}

.candidate-pair-details > .contents-detail > .bottom > .person > img {
    width: 100%;
}

.candidate-pair-details > .contents-detail > .bottom > .desc {
    width: 100%;
    height: 250px;
    /* border: 1px solid blue; */
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
}

.candidate-pair-details > .contents-detail > .bottom > .desc > h5 {
    color: #333;
    font-weight: 600;
    font-size: 12px;
}

.candidate-pair-details > .contents-detail > .bottom > .desc > .important {
    text-align: center;
}

.candidate-pair-details > .contents-detail > .bottom > .desc p {
    color: #333;
    font-size: 12px;
}

.candidate-pair-details > .contents-detail > .bottom > .choice {
    width: 100%;
    height: 50px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0 10px;
}

.candidate-pair-details > .contents-detail > .bottom > .choice > .btn-select {
    min-width: 60px;
    height: 70%;
    padding: 5px 20px;
    background-color: #003566;
    border: 1px solid #003566;
    color: #f9f9f9;
    cursor: pointer;
}

.candidate-pair-details > .contents-detail > .bottom > .choice > .btn-select:hover {
    background-color: #022e58;
}

.candidate-pair-details > .contents-detail > .bottom > .choice > .btn-cancel {
    min-width: 60px;
    height: 70%;
    padding: 5px 20px;
    background-color: #de4343;
    border: 1px solid #de4343;
    color: #f9f9f9;
    cursor: pointer;
}

.candidate-pair-details > .contents-detail > .bottom > .choice > .btn-cancel:hover {
    background-color: #dd3636;
}
 
.candidate-pair-details > .colors,
.feedback-contents > .colors {
    width: 600px;
    height: 4px;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    border-radius: 4px;
    overflow: hidden;
}

.candidate-pair-details > .colors > .color:nth-child(1),
.feedback-contents > .colors > .color:nth-child(1) {
    background-color: #92d115;
}

.candidate-pair-details > .colors > .color:nth-child(2),
.feedback-contents > .colors > .color:nth-child(2) {
    background-color: #f5ee6e;
}

.candidate-pair-details > .colors > .color:nth-child(3),
.feedback-contents > .colors > .color:nth-child(3) {
    background-color: #de8643;
}

.candidate-pair-details > .colors > .color:nth-child(4),
.feedback-contents > .colors > .color:nth-child(4) {
    background-color: #de4343;
}

.candidate-pair-details > .colors > .color:nth-child(5),
.feedback-contents > .colors > .color:nth-child(5) {
    background-color: #ed67f0;
}

.candidate-pair-details > .colors > .color:nth-child(6),
.feedback-contents > .colors > .color:nth-child(6) {
    background-color: #b467f0;
}

.candidate-pair-details > .colors > .color:nth-child(7),
.feedback-contents > .colors > .color:nth-child(7) {
    background-color: #146eff;
}

.candidate-pair-details > .colors > .color:nth-child(8),
.feedback-contents > .colors > .color:nth-child(8) {
    background-color: #49befc;
}
.feedback-contents {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;
    /* background-color: #000; */
    transform: scale(0);
    transition: .2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feedback-contents.active {
    transform: scale(1);
    transition-delay: .5s;
}

.feedback-contents > .feedback {
    width: 200px;
    height: 110px;
    border: 1px solid rgb(227, 226, 226);
    /* border-radius: 3px; */
    overflow: hidden;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.feedback-contents > .colors {
    width: 200px;
    height: 4px;
    border-radius: 4px;
    /* border: 1px solid red; */
}

.feedback-contents > .feedback > .top {
    width: 100%;
    height: 30px;
    border-bottom: 1px solid rgb(227, 226, 226);
    display: flex;
    justify-content: right;
    align-items: center;
}

.feedback-contents > .feedback > .top > .close-container {
    width: 30px;
    height: 100%;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.feedback-contents > .feedback > .top > .close-container > span {
    display: block;
    width: 45%;
    height: 2px;
    border-radius: 2px;
    background-color: #a8bbbf;
}

.feedback-contents > .feedback > .top > .close-container > span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}

.feedback-contents > .feedback > .top > .close-container > span:nth-child(2) {
    transform: rotate(-45deg);
}

.feedback-contents > .feedback > .bottom {
    width: 100%;
    flex: 1;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(1) {
    width: 100%;
    flex: 1;
    /* border: 1px solid blue; */
    display: flex;
    align-items: center;
    padding: 10px;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(1) > h5 {
    color: #333;
    font-size: 12px;
    font-weight: 600;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(2) {
    width: 100%;
    height: 40px;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(2) > .btn-yes {
    min-width: 50px;
    height: 70%;
    background-color: #003566;
    border: 1px solid #003566;
    color: #f9f9f9;
    font-size: 11px;
    /* border-radius: 3px; */
    cursor: pointer;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(2) > .btn-no {
    min-width: 50px;
    height: 70%;
    background-color: #de4343;
    border: 1px solid #de4343;
    color: #f9f9f9;
    font-size: 11px;
    /* border-radius: 3px; */
    cursor: pointer;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(2) > .btn-yes:hover {
    background-color: #022e58;
}

.feedback-contents > .feedback > .bottom > .box:nth-child(2) > .btn-no:hover {
    background-color: #dd3636;
}


/* footer */
footer {
    width: 100%;
    height: 50px;
    border-top: .1px solid rgb(227, 226, 226);
    display: flex;
    justify-content: center;
}

footer > .container {
    width: 80%;
    height: 100%;
    /* border: 1px solid red;   */
    display: flex;
    justify-content: center;
    align-items: center;  
    color: #333;
}

footer > .container > h5 {
    font-weight: 500;
    font-size: 13px;
}

@media screen and (min-width: 1400px) {
    nav > .nav-container,
    .contents,
    footer > .container {
        width: 1200px;
    }
}

@media screen and (max-width: 1070px) {
    .contents {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 900px) {
    .contents {
        grid-template-columns: repeat(3, 180px);
    }
}

@media screen and (max-width: 880px) {
    .candidate-pair-details > .contents-detail,
    .candidate-pair-details > .colors {
        width: 80%;
    }
}

@media screen and (max-width: 820px) {
    .jumbotron > .container > .box:nth-child(2) {
        padding: 10px;
    }

    .jumbotron > .container {
        flex-wrap: wrap;
    }

    .jumbotron > .container > .box:nth-child(1) {
        display: flex;
    }

    .jumbotron > .container > .box:nth-child(3) {
        display: none;
    }
}

@media screen and (max-width: 800px) {    
    .contents {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 576px) {
    nav > .nav-container > .menu {
        display: none;
    }

    nav > .nav-container > .hamburger-container {
        display: flex;
    }

    .container-menu {
        display: flex;
    }

    nav > .nav-container,
    .jumbotron > .container,
    .candidate-pair-details > .contents-detail,
    .candidate-pair-details > .colors {
        width: 90%;
        /* border: 1px solid #fff; */
    }

    .contents {
        width: 100%;
        grid-template-columns: repeat(2, 180px);
    }

    footer > .container {
        width: 100%;
    }

    .jumbotron {
        min-height: 250px;
    }

    .jumbotron > .container > .box:nth-child(1) > img {
        width: 150px;
    }
}

@media screen and (max-width: 420px) {
    .contents {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 3px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}